.sign-up {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.avatar-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.avatar-options img {
    width: 120px;
    height: 120px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
  }

.avatar-options img.selected {
    border-color: #ff0000; 
  }