.profile-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.discussion-button {
    margin-top: 10px;
}

.profile-review-container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.profile-review {
    width: 600px;
    background-color: rgb(114, 114, 114);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

.profile-button {
    background-color: #ccc;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }

  .profile-button.active {
    background-color: #6a4ba1;
    color: #fff;
  }

  .profile-image-featured {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    margin-top: -20px;
  }

  .reply-delete-profile {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-top: 5px;
  }

  .user-info-profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }

  .profile-image-small-box {
    width: 80px;
    height: 80px;
  }

  .movie {
    margin-left: auto;
  }

  @media screen and (max-width:715px){
    .profile-review-container{
      width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width:575px){
    .profile-review-container{
      width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width:475px){
    .profile-review-container{
      width: 250px;
      margin-left: auto;
      margin-right: auto;
    }
  }